extends base.pug
block content
  .container
    .btn-group(role='group' aria-label='Basic example')
      
      if !validSession
        a(href='/login') 
          button.btn.btn-primary.btn-dark.point-cloud-button Login
      if validSession
        a(href='/logout') 
          button.btn.btn-primary.btn.btn-dark.point-cloud-button Logout
        a(href='/upload') 
          button.btn.btn-primary.btn-dark.point-cloud-button Upload Point Cloud
        a(href='/userDeletion')
          button.btn.btn-secondary.btn-dark.point-cloud-button Delete User
      if !validSession
        a(href='/createNewUser') 
          button.btn.btn-primary.btn.btn-dark.point-cloud-button Create new User
    .row
      h2.text-white Public Clouds
      input#searchPC(type='text' onkeyup='searchNamePublicCloud()' placeholder='Search for names...')
      table.table.table-dark.table-bordered.table-hover#publicCloud
        tr
          th Point cloud name
          th Link to point cloud
        tr
        each cloud in clouds
          if cloud.public
            - var link = cloud.link
            tr
              td #{cloud.cloud_name} 
              td 
                a(href=link) #{cloud.link}
    .row
      h2.text-white My Clouds
      if validSession
        input#searchMC(type='text' onkeyup='searchNameMyCloud()' placeholder='Search for names...')
        table.table.table-dark.table-bordered.table-hover#mycloudhead
          tr
            th Point cloud name
            th Link to point cloud
            th#deleteB  Delete 
          tr
        .scrollableTable
          table.table.table-dark.table-bordered.table-hover#mycloud
            each cloud in clouds  
                if !cloud.public
                 - var functionCall = "deletePointCloud('"+cloud.cloud_name+"')";
                 - var link = cloud.link
                  tr
                    td #{cloud.cloud_name} 
                    td
                      a(href=link) #{cloud.link}
                    td#deleteB 
                      button.btn.btn-primary.btn-dark.point-cloud-button(onclick=functionCall) Delete
      else
        .uploadedClouds
          h3.text-white Login to see your uploaded clouds
          img.gif(src='https://i.gifer.com/embedded/download/8EUB.gif')
    script(src="js/index.js")
